body {
    background-color: black;
    color: grey;
    font-size: large;
    width: 85%;
    max-width: 1500px;
    margin: auto;
    text-align: center;
    font-family: Arial, serif;
}

#start_button {
    background-color: dimgrey;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    height: 50px;
    width: 250px;
    border-radius: 5px;
}

#menu {
    text-align: center;
}

select {
    text-align: center;
}

#incomplete_warning, #general_warnings {
    display: none;
    color: darkred;
}

#steamIDHelp {
    display: none;
    max-width: 95%;
    height: 75%;
    margin: auto;
    padding: 10px 10px;
    color: dimgray;
    border-radius: 5px;
    border: 3px solid #ccc;
}

#steamIDHelp img {
    width: 80%;
    height: auto;
}

#steamIDHelp a {
    color: aquamarine;
}

#steamIDHelp p{
    text-align: left;
    font-size: medium;
}

#the_game {
    display: none;
}

canvas {
    background: dimgray;
    border:2px solid white;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
    max-width: 1024px;
}


#show_info, #synopsis {
    text-align: left;
}

h2, h3 {
    margin: 0;
}

p {
    margin: 5px
}

a {
    text-decoration: none;
}

table {
    border-radius: 5px;
    border: 3px solid #ccc;
    margin: auto;
    width: 95%;
}

td {
    padding: 10px;
}

video, #custom_rounds_div, #custom_rounds_error_msg, #literally_everything_warning, #genres {
    display: none;
}

.genre_checkboxes {
    margin: 10px 20px 15px 5px;
}



.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}